:root {
  --primary-color: #F2994A;
}

body {
  font-family: Montserrat, sans-serif;
  padding: 1em;
}

h1, h2, h3, .number {
  font-family: Playfair Display, serif
}

h1, h2 {
  font-weight: 700;
}

h3 {
  font-weight: 400;
  font-style: italic;
}

img {
  width: 100%;
}

.number {
  background: var(--primary-color);
  border-radius: 6px;
  color: white;
  width: 36px;
  height: 36px;
  margin-right: 0.5em;
  font-size: 1.4em;
  text-align: center;
}

.flex {
  display: grid;
    grid-template-columns: 1fr 5fr;
    padding: 2em;
}
