:root {
  --primary-color: #F2994A;
  --secondary-color: #ead2be;
  --gray: #828282;
}

body {
  font-family: Montserrat, sans-serif;
  padding: 1em;
  line-height: 1.5em;
  color: #4F4F4F;
}

h1, h2, h3, .number {
  font-family: Playfair Display, serif
}

h1, h2 {
  font-weight: 700;
}

h3 {
  font-weight: 400;
  font-style: italic;
}

h4 {
  text-transform: uppercase;
  color: var(--gray);
  font-weight: 400;
  font-size: 0.8em;
  margin: 0;
}

h5 {
  margin: 0;
}

img {
  width: 100%;
  margin-bottom: 2em;
}

header p {
  margin-top: 0;
}

.orange {
  color: var(--primary-color);
}

.checkbox {
  display: block;
  position: relative;
  padding-left: 40px;
  margin: 0 0 12px 0;
  cursor: pointer;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
}

.checkbox:hover input ~ .checkmark {
  background-color: var(--secondary-color);
}

.checkbox input:checked ~ .checkmark {
  background-color: var(--primary-color);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox input:checked ~ .checkmark:after {
  display: block;
}

.checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.number {
  background: var(--primary-color);
  border-radius: 6px;
  color: white;
  width: 36px;
  height: 36px;
  font-size: 1.4em;
  text-align: center;
  padding-top: 0.2em;
}

.grid-instructions {
  display: grid;
  grid-template-columns: 1fr 8fr;
}

.icon-margin {
  margin: 0 0.5em 0 0;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.card-servings-content {
  margin-bottom: 2em;
}

.card-servings-lg {
  display: none;
}

@media only screen and (min-width: 768px) {
  body {
    width: 70%;
    margin: 0 auto;
  }

  .grid-instructions {
    display: grid;
    grid-template-columns: 1fr 10fr;
  }
}

@media only screen and (min-width: 992px) {
  body {
    width: 70%;
    margin: 0 auto;
  }
  .grid-instructions {
    display: grid;
    grid-template-columns: 1fr 8fr;
  }

  .grid-main {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .card-servings-sm {
    display: none;
  }

  .card-servings-lg {
    display: block;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding: 2em;
    border-radius: 12px;
    margin: 0  0 0 auto;
    height: 19em;
    width: 8.5em;
  }

  .mr {
    margin-right: 3em;
  }

}
